<main class="auth__main__container">
  <section class="auth__rightColumn">
    <div class="auth__rightColumn__block">
      <%= image_tag('/images/logo.png', class: "auth__rightColumn__block__logo") %>

      <h2 class="auth__rightColumn__block_h2">
        Зарегистрируйтесь, чтобы смотреть фото и видео ваших друзей.
      </h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="auth__rightColumn__block__form">
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input--email", placeholder: "Email"%>
          <%= f.password_field :password, autocomplete: "new-password", class:"input--password", placeholder: "Пароль" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input--password", placeholder: "Подтверждение пароля" %>
          <%= f.text_field :username, autocomplete: "username", class: "input--text", placeholder: "Ник пользователя"%>
          <!--
          <%= f.text_field :name, autocomplete: "name", class: "input--text", placeholder: "Имя и фамилия"%>
          -->
          <%= f.submit "Зарегистрироваться", class: "input--submit" %>
        </div>
      <% end %>
    </div>

    <div class="auth__rightColumn__block__reg">
      <p class="auth__rightColumn__block__reg__text">
        Есть аккаунт?
        <%= link_to "Вход", new_session_path(resource_name), class: "auth__rightColumn__block__reg__link" %>
      </p>
    </div>
  </section>
</main>

<%= render "layouts/footer" %>