<main class="profile__main">
    <section class="profile__header">
        <div class="profile__header__avatar">
            <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar, class: "profile__header__avatar_img" %>
            <% else %>
                <%= image_tag '/icons/profile.svg', class: "profile__header__avatar_img" %>
            <% end %>
        </div>

        <div class="profile__header__info">
            <div class="info__1st__line">
                <h2 class="info__h2"><%= @user.username %></h2>
                <% if @user.id == current_user.id %>
                    <%= link_to "Редактировать профиль", edit_user_path(current_user), class: "info__linkEdit" %>
                    <%= link_to image_tag('/icons/edit.svg', class: "info__iconEdit"), edit_user_path(current_user) %>
                <% end %>
            </div>
            <div class="info__2nd__line">
                <p class="info__a"><span><%= @user.posts.count %></span>публикаций</p>
                <a href="subs.html" class="info__a"><span>21</span>подписчиков</a>
                <a href="subs.html" class="info__a"><span>45</span>подписок</a>
            </div>
            <div class="info__3rd__line">
                <p class="info__a bold"><%= @user.name %></p>
                <p class="info__a desc"><%= @user.bio %></p>
                <%= link_to @user.website, @user.website%>
            </div>
        </div>
    </section>

    <section class="profile__nav">
        <div class="nav__wrap active">
            <%= image_tag('/icons/posts.svg') %>
            <a href="">Публикации</a>
        </div>
        <div class="nav__wrap">
            <%= image_tag('/icons/Save.svg') %>
            <a href="">Сохраненное</a>
        </div>
        <div class="nav__wrap">
            <%= image_tag('/icons/Tagged.svg') %>
            <a href="">Отметки</a>
        </div>
    </section>

    <section class="profile__content">
        <% @user.posts.each do |post|%>
            <%= image_tag post.image %>
        <% end %>
    </section>
</main>

<%= render "layouts/footer" %>