<main class="auth__main__container">
  <section class="auth__rightColumn">
    <div class="auth__rightColumn__block">
      <%= image_tag('/images/logo.png', class: "auth__rightColumn__block__logo") %>

      <h2 class="auth__rightColumn__block_h2">
        Забыли пароль? Восстановите через форму ниже
      </h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="auth__rightColumn__block__form">
          <%= render "devise/shared/error_messages", resource: resource %>

          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input--email", placeholder: "Email"%>
          <%= f.submit "Сбросить пароль", class: "input--submit" %>
        </div>
      <% end %>
    </div>

    <div class="auth__rightColumn__block__reg">
      <p class="auth__rightColumn__block__reg__text">
        Есть аккаунт?
        <%= link_to "Вход", new_session_path(resource_name), class: "auth__rightColumn__block__reg__link" %>
      </p>
      <p class="auth__rightColumn__block__reg__text">
        У вас еще нет аккаунта?
        <%= link_to "Зарегистрироваться", new_registration_path(resource_name), class: "auth__rightColumn__block__reg__link" %>
      </p>
    </div>
  </section>
</main>

<%= render "layouts/footer" %>