<% @posts.each do |post| %>
    <div class="home__main__leftColumn_post">
        <div class="home__main__leftColumn_post__header">
            <div class="username-and-avatar">
                <%= render "help_views/post_user_avatar", user: @user, post: post, class_name: "avatar" %>
                <%= link_to post.user.username, user_path(post.user), class:"username" %>
            </div>
            <%= render "help_views/if_delete", user: @user, post: post, class_name: "icons_wrap" %>
        </div>

        <div class="home__main__leftColumn_post__img">
            <%= link_to image_tag(post.image), post_path(post) %>
        </div>

        <div class="home__main__leftColumn_post__icons">
            <%= link_to image_tag("/icons/like.svg"), like_post_path(post.id), remote: true, id: "like_#{post.id}" %>
            <a href=""><img src="icons/Comment.svg" alt="comment" /></a>
            <a href=""><img src="icons/SharePosts.svg" alt="share" /></a>
        </div>

        <div class="home__main__leftColumn_post__likes"><%= likers_of post %></div>

        <div class="home__main__leftColumn_post__description">
            <%= link_to post.user.username, user_path(post.user) %>
            <span><%= post.description %></span>
        </div>

        <div class="home__main__leftColumn_post__comments">
            <% post.comments.each do |comment| %>
                <div class="home__main__leftColumn_post__comments_item">
                    <%= link_to comment.user.username, user_path(comment.user)%>
                    <span><%= comment.content %></span>
                    <% if comment.user == current_user %>
                        <%= link_to image_tag('/icons/delete_comment.svg', class: "delete__img"), post_comment_path(post, comment), method: :delete, data: { confirm: "Вы уверены, что хотите удалить комментарий?" }, class: 'delete__wrap' %>
                    <% end %>
                </div>
            <% end %>
        </div>
        
        <div class="home__main__leftColumn_post__date">
            <time datetime="<%= post.formatted_created_at %>"><%= post.formatted_created_at %></time>
        </div>

        <%= form_for [post, post.comments.new], :html => {:class => 'home__main__leftColumn_post__addComment'} do |f| %>
            <img class="emoji" src="icons/Emoji.svg" alt="Emoji" />
            <%= f.text_area :content, class: 'textarea', rows: "1", placeholder: "Добавьте комментарий..." %>
            <%= f.submit "Опубликовать", class: 'submit--text' %>
      <% end %>
    </div>
<% end %>