<main class="home__main">
  <section class="home__main__leftColumn">
    
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: [:home_message, :alert, alert_for(name)] %>
    <% end %>
    
    <%= render 'home/form_post' %>
  </section>

  <section class="home__main__rightColumn">
    <div class="home__main__rightColumn_sticky">

      <div class="home__main__rightColumn__user">
        <div class="home__main__rightColumn__user_wrap">
            <% if current_user.avatar.attached? %>
              <%= link_to image_tag(current_user.avatar, class: "home__main__rightColumn__user__avatar"), user_path(current_user) %>
            <% else %>
              <%= link_to image_tag('/icons/profile.svg', class: "home__main__rightColumn__user__avatar"), user_path(current_user) %>
            <% end %>

          <div class="home__main__rightColumn__user__name">
            <%= link_to current_user.username, user_path(current_user), class: "home__main__rightColumn__user__name__textUser" %>
            <p class="home__main__rightColumn__user__name__textName"><%= current_user.name %></p>
          </div>
        </div>
        <%= link_to "Переключиться", destroy_user_session_path, method: :delete, class: "submit--text user" %>
      </div>

      <div class="home__main__rightColumn__text">
        <p class="home__main__rightColumn__text__p">Рекомендации для вас</p>
        <a class="home__main__rightColumn__text__a" href="">Все</a>
      </div>

      <div class="home__main__rightColumn__recUser_container">

        <% @users.limit(6).each do |user| %>
          <% if user != current_user %>
            <div class="home__main__rightColumn__recUser">
              <div class="home__main__rightColumn__recUser_wrap">
                <% if user.avatar.attached? %>
                  <%= link_to image_tag(user.avatar, class: "home__main__rightColumn__recUser__avatar"), user_path(user) %>
                <% else %>
                  <%= link_to image_tag('/icons/profile.svg', class: "home__main__rightColumn__user__avatar"), user_path(user) %>
                <% end %>

                <div class="home__main__rightColumn__recUser__name">
                  <%= link_to user.username, user_path(user), class: 'home__main__rightColumn__recUser__name__textUser' %>
                  <% if user.name %>
                    <p class="home__main__rightColumn__recUser__name__textName"><%= user.name %></p>
                  <% end %>
                </div>
              </div>
              <button class="submit--text user">Подписаться</button>
            </div>
          <% end %>
        <% end %>
      </div>

      <ul class="home__main__rightColumn__links">
        <li class="home__main__rightColumn__links__item">
          <a href="">Информация</a>
        </li>
        <li class="home__main__rightColumn__links__item">
          <a href="">Помощь</a>
        </li>
        <li class="home__main__rightColumn__links__item">
          <a href="">Пресса</a>
        </li>
        <li class="home__main__rightColumn__links__item">
          <a href="">API</a>
        </li>
        <li class="home__main__rightColumn__links__item">
          <a href="">Вакансии</a>
        </li>
        <li class="home__main__rightColumn__links__item">
          <a href="">Конфиденциальность</a>
        </li>
        <li class="home__main__rightColumn__links__item">
          <a href="">Условия</a>
        </li>
        <li class="home__main__rightColumn__links__item">
          <a href="">Места</a>
        </li>
        <li class="home__main__rightColumn__links__item">
          <a href="">Язык</a>
        </li>
      </ul>

      <p class="home__main__rightColumn__copy">© 2022 COPY INSTAGRAM FROM KUL1CHIK</p>
    </div>
  </section>
</main>