<main class="post__show">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: [:home_message, :alert, alert_for(name)] %>
  <% end %>

  <section class="post__wrap">
    <div class="post__image"><%= image_tag @post.image %></div>

    <div class="post__data">
    
      <div class="data__head">
        <div class="username-and-avatar">
          <%= render "help_views/post_user_avatar", user: @user, post: @post, class_name: "avatar" %>
          <%= link_to @post.user.username, user_path(@post.user), class: "username" %>
        </div>
        <%= render "help_views/if_delete", user: @user, post: @post, class_name: "data__head__icons" %>
      </div>

      <div class="data__comments">
        <div class="username-and-avatar comment">
          <%= render "help_views/post_user_avatar", user: @user, post: @post, class_name: "avatar" %>
          <%= link_to @post.user.username, user_path(@post.user), class: "username" %>
          <span><%= @post.description %></span>
        </div>

        <% @post.comments.each do |comment| %>
          <div class="username-and-avatar comment">

            <div class="x__wrap">
              <div class="y__wrap">
                <%= render "help_views/comment_user_avatar", user: @user, comment: comment, class_name: "avatar" %>
                <%= link_to comment.user.username, user_path(comment.user), class: "username" %>
              </div>
              <span><%= time_ago_in_words comment.created_at %></span>
            </div>

              <span><%= comment.content %></span>

              <% if comment.user == current_user %>
                <%= link_to image_tag('/icons/delete_comment.svg', class: "delete__img"), post_comment_path(@post, comment), method: :delete, data: { confirm: "Вы уверены, что хотите удалить комментарий?" }, class: 'delete__wrap' %>
              <% end %>
          </div>
        <% end %>
      </div>
      
      <div class="data__icons">
        <a href=""><img src="/icons/like.svg" alt="like" /></a>
        <a href=""><img src="/icons/Comment.svg" alt="comment" /></a>
        <a href=""><img src="/icons/SharePosts.svg" alt="share" /></a>
      </div>

      <div class="data__likes">1069 отметок "Нравится"</div>

      <div class="data__created">
        <time datetime="<%= @post.formatted_created_at %>">
          <%= @post.formatted_created_at %>
        </time>
      </div>

      <%= form_for [@post, @post.comments.new], :html => {:class => 'data__addComment'} do |f| %>
        <img class="emoji" src="/icons/Emoji.svg" alt="Emoji" />
        <%= f.text_area :content, class: 'textarea post', rows: "1", placeholder: "Добавьте комментарий..." %>
        <%= f.submit "Опубликовать", class: 'submit--text user' %>
      <% end %>
    </div>
  </section>
</main>

<%= render "layouts/footer" %>