<main class="post__show">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: [:home_message, :alert, alert_for(name)] %>
  <% end %>

  <section class="post__wrap">
    <div class="post__image">
      <%= image_tag @post.image %>
    </div>

    <div class="post__data">
      <div class="data__head">
        <div class="username-and-avatar">
          <% if @post.user.avatar.attached? %>
            <%= link_to image_tag(@post.user.avatar, class: "avatar"), user_path(@post.user) %>
          <% else %>
            <%= link_to image_tag('/icons/profile.svg', class: "avatar"), user_path(@post.user) %>
          <% end %>
          <%= link_to @post.user.username, user_path(@post.user), class: "username" %>
        </div>

        <% if @post.user.id == current_user.id %>
          <div class="data__head__icons">
            <%= link_to image_tag('/icons/edit_post.svg'), edit_post_path(@post)%>
            <%= link_to image_tag('/icons/delete.svg'), post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }%>
          </div>
        <% end %>
      </div>

      <div class="data__comments">
        <div class="username-and-avatar">
          <% if @post.user.avatar.attached? %>
            <%= link_to image_tag(@post.user.avatar, class: "avatar"), user_path(@post.user) %>
          <% else %>
            <%= link_to image_tag('/icons/profile.svg', class: "avatar"), user_path(@post.user) %>
          <% end %>
          <%= link_to @post.user.username, user_path(@post.user), class: "username" %>
          <span><%= @post.description %></span>
        </div>

        <div class="username-and-avatar">
          <% if @post.user.avatar.attached? %>
            <%= link_to image_tag(@post.user.avatar, class: "avatar"), user_path(@post.user) %>
          <% else %>
            <%= link_to image_tag('/icons/profile.svg', class: "avatar"), user_path(@post.user) %>
          <% end %>
          <%= link_to @post.user.username, user_path(@post.user), class: "username" %>
          <span><%= @post.description %></span>
        </div>
      </div>
      
      <div class="data__icons">
        <a href=""><img src="/icons/like.svg" alt="like" /></a>
        <a href=""><img src="/icons/Comment.svg" alt="comment" /></a>
        <a href=""><img src="/icons/SharePosts.svg" alt="share" /></a>
      </div>

      <div class="data__likes">1069 отметок "Нравится"</div>

      <div class="data__created">
        <time datetime="<%= @post.formatted_created_at %>">
          <%= @post.formatted_created_at %>
        </time>
      </div>

      <div class="data__addComment">
        <img class="emoji" src="/icons/Emoji.svg" alt="Emoji" />
        <textarea class="textarea post" name="comment" rows="1" placeholder="Добавьте комментарий..."></textarea>
        <button class="submit--text user" type="submit">Опубликовать</button>
      </div>
    </div>

  </section>
</main>

<%= render "layouts/footer" %>